/**
 *   The bare minimum styling required for Tagbox to work.
 */
.tagbox-wrapper { /* The main wrapper element. */
	display: inline-block;
	width: 400px;
	position: relative;

	cursor: text;
}

.tagbox-wrapper.focus {
	outline: none;

	background: #f5faff;
	color: #445d77;

	border-color: #96b5d1;
	box-shadow: inset 0 1px 1px #e2edf7, 0 0 4px rgba(75,125,170,.3);
}

.tagbox-wrapper input { /* The textfield, needs to stay "invisible" */
	outline: none;
	border: none;
	background: transparent;

	margin: 6px 12px;
}

.tagbox-dropdown { /* The dropdown list */
	position: absolute;
	top: 100%;
	left: -1px;
	right: -1px;

	overflow: auto;
}
	.tagbox-item { /* A result from the dropdown */
		position: relative;
		width: 100%;
		height: 30px;
		line-height: 30px;

		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		cursor: pointer;
	}
		.tagbox-item.empty {
			cursor: default;
		}

.tagbox-token { /* The tag itself */
	display: inline-block;
	position: relative;
	height: 18px;

	cursor: default;
}
	.tagbox-token span {
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		line-height: 18px;
	}
	.tagbox-token a {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 16px;

		cursor: pointer;
	}

/**
 *   Additional styling
 *   Default - GoSquared theme.
 */
.tagbox-wrapper {
	border: 1px solid #b3bbc2;
	border-radius: 4px;

	box-shadow: inset 0 1px 1px rgba(179,187,194,.4);

	-webkit-transition: height .2s, border-radius .2s;
	transition: height .2s, border-radius .2s;

	padding: 0 16px;
}
	.tagbox-wrapper.typing {
		border-radius: 4px 4px 0 0;
	}
.tagbox-wrapper, .tagbox-wrapper input, .tagbox-dropdown {
	font: 13px/21px "Helvetica Neue", sans-serif;
	color: #656e7b;
}
	.tagbox-wrapper input {
		margin: 8px 0;
		line-height: 22px;
		vertical-align: top;
	}

.tagbox-token {
	display: inline-block;
	height: 26px;
	padding: 0 22px 0 12px;
	margin: 6px 18px 6px -10px;

	overflow: hidden;

	background-color: #dde9f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9f1f8), to(#d1e2f2));
	background-image: -webkit-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: -moz-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: -o-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: -ms-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: linear-gradient(top, #e9f1f8, #d1e2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9f1f8', EndColorStr='#d1e2f2');

	font-size: 11px;
	line-height: 26px;
	font-weight: 500;
	vertical-align: middle;

	color: #637990;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);

	border-radius: 3px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,.2), inset 0 0 0 1px rgba(44,81,121,.4), inset 0 0 0 2px rgba(255,255,255,.2);

	-webkit-transition: opacity .2s, width .2s;
	transition: opacity .2s, width .2s;
}
	.tagbox-token.selected {
		box-shadow: inset 0 2px 1px rgba(0,0,0,.15), inset 0 0 0 1px rgba(44,81,121,.4), inset 0 0 0 2px rgba(255,255,255,.1);
	}
	.tagbox-token:last-of-type {
		margin-right: 12px;
	}
	.tagbox-token span {
		line-height: 26px;
	}
	.tagbox-token a {
		font-size: 13px;
		line-height: 24px;

		color: #a2b6cc;
		text-shadow: 0 1px 0 rgba(255,255,255,.2);

		-webkit-transition: color .2s;
		transition: color .2s;
	}
		.tagbox-token a:hover {
			color: #56738f;
		}

.tagbox-dropdown {
	background-color: #f0f3f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f9fb), to(#e8edf0));
	background-image: -webkit-linear-gradient(top, #f8f9fb, #e8edf0);
	background-image: -moz-linear-gradient(top, #f8f9fb, #e8edf0);
	background-image: -o-linear-gradient(top, #f8f9fb, #e8edf0);
	background-image: -ms-linear-gradient(top, #f8f9fb, #e8edf0);
	background-image: linear-gradient(top, #f8f9fb, #e8edf0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f8f9fb', EndColorStr='#e8edf0');

	margin-top: 5px;

	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,.4), inset 0 0 0 1px rgba(74,85,99,.4), inset 0 -1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.05);
}
	.tagbox-dropdown .empty {
		color: #87919c;
		text-align: center;
		text-indent: 0;
	}
	.tagbox-item {
		height: auto;
		padding: 4px 20px;
		width: 100%;

		border-bottom: 1px solid rgba(74,85,99,.3);
	}
		.tagbox-item:not(.empty).selected {
			background: rgba(255,255,255,.6);
		}
		.tagbox-item:not(.empty):hover. .tagbox-item:not(.empty).selected:hover {
			background: rgba(255,255,255,.3);
		}
			.tagbox-item:not(.empty):active {
				box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
			}
		.tagbox-item:last-of-type {
			border-bottom: none;
		}
