/**
 *   The bare minimum styling required for Tagbox to work.
 */
.tagbox-wrapper { /* The main wrapper element. */
	display: inline-block;
	width: 400px;
	position: relative;

	cursor: text;
}
.tagbox-wrapper input { /* The textfield, needs to stay "invisible" */
	outline: none;
	border: none;
	background: transparent;

	margin: 6px 12px;
}

.tagbox-dropdown { /* The dropdown list */
	position: absolute;
	top: 100%;
	left: -1px;
	right: -1px;

	overflow: auto;
}
	.tagbox-item { /* A result from the dropdown */
		position: relative;
		width: 100%;
		height: 30px;
		line-height: 30px;

		overflow: hidden;

		cursor: pointer;
	}
	.tagbox-item .name, .tagbox-item .email { /* The name and email within the dropdown */
		display: block;
		float: left;
		width: 35%;

		overflow: hidden;
		text-overflow: ellipsis;
	}
		.tagbox-item .email {
			float: right;
			width: 65%;
		}

.tagbox-token { /* The tag itself */
	display: inline-block;
	position: relative;
	height: 18px;

	cursor: default;
}
	.tagbox-token span {
		display: inline-block;
	}
	.tagbox-token a {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 16px;

		cursor: pointer;
	}

/**
 *   Additional styling
 *   Default - GoSquared theme.
 */
.tagbox-wrapper {
	border: 1px solid #b3bbc2;
	border-radius: 4px;

	box-shadow: inset 0 1px 1px rgba(179,187,194,.4);

	-webkit-transition: height .2s, border-radius .2s;
	transition: height .2s, border-radius .2s;
}
	.tagbox-wrapper.typing {
		border-radius: 4px 4px 0 0;
	}
.tagbox-wrapper, .tagbox-wrapper input {
	font: 13px/21px "Helvetica Neue", sans-serif;
	color: #656e7b;
}
	.tagbox-wrapper input {
		margin: 8px 16px;
	}

.tagbox-token {
	background-color: #dde9f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9f1f8), to(#d1e2f2));
	background-image: -webkit-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: -moz-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: -o-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: -ms-linear-gradient(top, #e9f1f8, #d1e2f2);
	background-image: linear-gradient(top, #e9f1f8, #d1e2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9f1f8', EndColorStr='#d1e2f2');

	border-radius: 3px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,.3), inset 0 0 0 1px rgba(44,81,121,.4), inset 0 -1px 1px rgba(0,0,0,.05);

	padding: 6px 12px;
	margin: 6px 0 6px 10px;

	font-size: 11px;
	line-height: 15px;
	font-weight: 500;
}
	.tagbox-token span {
		line-height: 15px;
	}